/* Your CSS Styling */

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 70px 0 -40px auto;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
}

/* Set the fixed height of the footer here */
#footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #f5f5f5;
}

/* Genericon social icon styles
---------------------------------------------------- */
.genericon-github:before,
.genericon-linkedin:before,
.genericon-twitter:before {
    -webkit-font-smoothing: antialiased;
    font: normal 32px/1 'Genericons';
    vertical-align: middle;
}

.social-icons {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

/* Wafa's styles
---------------------------------------------------- */

.container {
  /* Overrides bootstrap's default width
  width: 600px;*/
}

#results {
  display: none;
}

#loader img {
  width: 50px;
}

body {
  background-image: url("../images/background3.jpg");
  background-size: cover;
}

img .flickr-image {
  display: inline-block;
  opacity: 0;
}

.title {
  font-family: 'Arvo', sans-serif;
  font-size: 100px;
}

#currentOutput {
  display: flex;
  color: black;
  justify-content: center;
  font-size: x-large;
}

.panel {
  /*box-shadow: 2px 1px 1px #ddd;*/
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgb(153, 153, 153);
  background: #f9f9f9;
}

.image-container {
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: 1px solid black;
  background: #f9f9f9;
  border-radius: 3px;
  min-height: 400px;
  
  /* Center pictures inside the container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flickr-image {
  max-height: 400px;
  max-width: 280px; 
}
    .slideshare-content {
		width: 80%;
		height: 50%;
		margin: 0px auto;
	}
