{% extends "layout/base.html" %}

{% block content %}

  <div id="wrap">
    <div class="container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <img src="{{ url_for('static', filename='images/IMG_5374.jpg') }}"
                 class="img-responsive" height="300px" width="300px"/>
          </div>
          <div class="col-md-5">
            <h1 class="text-justify text-muted">I'm Wafa.</h1>
            <p class="lead">I formerly worked as a biomedical engineer and neuroscientist in Atlanta, GA.  Now I'm a data scientist in the SF Bay Area.</p>
            <p class="lead">
              You can find more up-to-date info about me on my
              <a href="www.linkedin.com/in/wsoofi/"> LinkedIn page</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
